* {
  z-index: 100;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Secular One", sans-serif;
}

.title {
  font-family: "Lobster", cursive;
  font-size: 110px;
  color: black;
}
.texto-label {
  font-family: "Secular One", sans-serif;
  display: block;
  font-size: 30px;
}

.main-section {
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

.modal-content {
  background-color: #3b4652;
  opacity: 0.85;
  padding: 20px 20px;
  box-shadow: 10px 10px 3px #c4baba;
}

h1,
p {
  color: black;
}

button {
  width: 60%;
  margin: 5px 0 30px;
  padding: 30px;
}
.linkSesion {
  font-size: 18px;
  color: #000000;
}
.linkSesion:hover {
  color: #000000;
}
