.block_ {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  text-align: center;
  margin: 0 0 8pt;
  padding: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.block_1 {
  color: black;
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 8pt;
  padding: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.block_2 {
  color: black;
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.block_3 {
  color: black;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 8pt;
  padding: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.block_4 {
  color: black;
  display: block;
  line-height: 1.2;
  text-align: justify;
  text-indent: 21.3pt;
  margin: 0 0 8pt;
  padding: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.block_5 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  text-align: justify;
  text-indent: 21.3pt;
  margin: 0 0 8pt;
  padding: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.block_6 {
  color: black;
  display: block;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 8pt;
  padding: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.block_7 {
  display: block;
  font-family: "Calibri", sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.block_8 {
  color: black;
  display: block;
  font-family: "Calibri", sans-serif;
  text-align: center;
  margin: 0 0 10pt;
  padding: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.calibre {
  color: #000;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.calibre1 {
  height: 42.5pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre2 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.tab {
  line-height: 1.2;
  white-space: pre-wrap;
}
.text_ {
  color: #000;
}
.text_1 {
  color: #00f;
  text-decoration: underline;
}
